token.txt
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
debug/
Debug/
debugPublic/
DebugPublic/
release/
releases/
Release/
Releases/
x64/
x86/
build/
bld/
Bin/
Obj/
bin/
obj/
.vs/
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.psess
*.vsp
*.vspx
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
packages/*
.vs
bin
obj
Town Crier/ChatCraft/

Town Crier/Accounts/

Town Crier/reporter.json
